* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: rgb(56, 54, 54);
    padding: 20px;
    color: #ffff !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header ul {
    display: flex;
}

header ul li {
    list-style-type: none;
    padding-right: 30px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

header li a:hover {
    color: #00e3ff;
}

header button {
    padding: 10px 20px;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid #00e3ff;
    color: #00e3ff;
    border-radius: 5px;
}

header button:hover {
    background-color: #00e3ff;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

header .logo {
    letter-spacing: 2px;
    color: #00e3ff;
    font-size: 20px;
}

header a {
    text-decoration: none;
}

.profile-section-heading {
    font-size: 22px;
    color: rgb(248, 248, 116);
}

section.profile-section {
    background-color: rgb(30, 28, 28);
    color: white;
    display: flex;
    padding: 20px 30px 0px 150px;
    align-items: center;
}

.profile-section-title {
    font-size: 50px;
    font-weight: 90;
    margin-top: 10px;
}

.profile-section-desc {
    color: rgb(127, 127, 127);
    margin-top: 10px;
}

.social-icons {
    display: flex;
    margin: 20px 0px;
}

ul.social-icons {
    list-style-type: none;
}

.social-icons li>a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.social-icons i {
    margin-right: 15px;
}

.social-icons li>a:hover {
    color: blue;
}

.hero-button button {
    padding: 10px 20px;
    background: none;
    border: 1px solid #00e3ff;
    color: #00e3ff;
    border-radius: 2px;
    margin-right: 15px;
}

.hero-button button:hover {
    background-color: #00e3ff;
    color: white;
    cursor: pointer;
}